/*body {
  		background-color: #ffffff;background-image: url(../img/indexBackground.jpg);background-repeat: repeat-x;		background-attachment: fixed;background-position: center;
}*/

body {
      background-color: #757575;
}

.container {
  background-color: #f8f8f8;
  border-color: #ddd;
  border-width: 2px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*.modal-body {
background-color: #ffffff;background-image: url(../img/indexBackground.jpg);background-repeat: repeat-x;    background-attachment: fixed;background-position: center;
}*/

.modal-body {
background-color: #a7a2a2;
}

.modal-body p{
  font-weight: bold;
  color: #f8f8f8;
}

.modal-body h2{
  font-weight: bold;
  color: #f8f8f8;
}

.modal-body h3{
  text-shadow: black 0.05em 0.05em 0.05em;
}

.btn-primary {
  color: #000000;
  background-color: #757575;
  border-color: #000000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #585858;
  border-color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f0f0f0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: #f0f0f0;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.page-header {
  padding-bottom: 0;
  margin: 0 0 0;
  border-bottom: 1px solid #eee;
}

.sponsors-image {
  max-height: 50px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}