/*body {
  		background-color: #ffffff;background-image: url(../img/indexBackground.jpg);background-repeat: repeat-x;		background-attachment: fixed;background-position: center;
}*/

body {
      background-color: #757575;
}

.container {
  background-color: #f8f8f8;
  border-color: #ddd;
  border-width: 2px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*.modal-body {
background-color: #ffffff;background-image: url(../img/indexBackground.jpg);background-repeat: repeat-x;    background-attachment: fixed;background-position: center;
}*/

.modal-body {
background-color: #a7a2a2;
}

.modal-body p{
  font-weight: bold;
  color: #f8f8f8;
}

.modal-body h2{
  font-weight: bold;
  color: #f8f8f8;
}

.modal-body h3{
  text-shadow: black 0.05em 0.05em 0.05em;
}

.btn-primary {
  color: #000000;
  background-color: #757575;
  border-color: #000000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #585858;
  border-color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f0f0f0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: #f0f0f0;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.page-header {
  padding-bottom: 0;
  margin: 0 0 0;
  border-bottom: 1px solid #eee;
}

.sponsors-image {
  max-height: 50px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

/*Grid system for more details */
/*order: xs, ls, sm, md, lg*/
.col-ls-1, .col-ls-2, .col-ls-3, .col-ls-4, .col-ls-5, .col-ls-6, .col-ls-7, .col-ls-8, .col-ls-9, .col-ls-10, .col-ls-11, .col-ls-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 528px) {
  .col-ls-1, .col-ls-2, .col-ls-3, .col-ls-4, .col-ls-5, .col-ls-6, .col-ls-7, .col-ls-8, .col-ls-9, .col-ls-10, .col-ls-11, .col-ls-12 {
    float: left;
  }
  .col-ls-12 {
    width: 100%;
  }
  .col-ls-11 {
    width: 91.66666667%;
  }
  .col-ls-10 {
    width: 83.33333333%;
  }
  .col-ls-9 {
    width: 75%;
  }
  .col-ls-8 {
    width: 66.66666667%;
  }
  .col-ls-7 {
    width: 58.33333333%;
  }
  .col-ls-6 {
    width: 50%;
  }
  .col-ls-5 {
    width: 41.66666667%;
  }
  .col-ls-4 {
    width: 33.33333333%;
  }
  .col-ls-3 {
    width: 25%;
  }
  .col-ls-2 {
    width: 16.66666667%;
  }
  .col-ls-1 {
    width: 8.33333333%;
  }
  .col-ls-pull-12 {
    right: 100%;
  }
  .col-ls-pull-11 {
    right: 91.66666667%;
  }
  .col-ls-pull-10 {
    right: 83.33333333%;
  }
  .col-ls-pull-9 {
    right: 75%;
  }
  .col-ls-pull-8 {
    right: 66.66666667%;
  }
  .col-ls-pull-7 {
    right: 58.33333333%;
  }
  .col-ls-pull-6 {
    right: 50%;
  }
  .col-ls-pull-5 {
    right: 41.66666667%;
  }
  .col-ls-pull-4 {
    right: 33.33333333%;
  }
  .col-ls-pull-3 {
    right: 25%;
  }
  .col-ls-pull-2 {
    right: 16.66666667%;
  }
  .col-ls-pull-1 {
    right: 8.33333333%;
  }
  .col-ls-pull-0 {
    right: auto;
  }
  .col-ls-push-12 {
    left: 100%;
  }
  .col-ls-push-11 {
    left: 91.66666667%;
  }
  .col-ls-push-10 {
    left: 83.33333333%;
  }
  .col-ls-push-9 {
    left: 75%;
  }
  .col-ls-push-8 {
    left: 66.66666667%;
  }
  .col-ls-push-7 {
    left: 58.33333333%;
  }
  .col-ls-push-6 {
    left: 50%;
  }
  .col-ls-push-5 {
    left: 41.66666667%;
  }
  .col-ls-push-4 {
    left: 33.33333333%;
  }
  .col-ls-push-3 {
    left: 25%;
  }
  .col-ls-push-2 {
    left: 16.66666667%;
  }
  .col-ls-push-1 {
    left: 8.33333333%;
  }
  .col-ls-push-0 {
    left: auto;
  }
  .col-ls-offset-12 {
    margin-left: 100%;
  }
  .col-ls-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-ls-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-ls-offset-9 {
    margin-left: 75%;
  }
  .col-ls-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-ls-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-ls-offset-6 {
    margin-left: 50%;
  }
  .col-ls-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-ls-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-ls-offset-3 {
    margin-left: 25%;
  }
  .col-ls-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-ls-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-ls-offset-0 {
    margin-left: 0;
  }
}
/*End of grid system*/

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}